<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="project: ${projectList}">
    <h2 style="margin-bottom: 8px;margin-top: 8px">
        <span th:text="${project.name}"></span>(<span th:text="${project.hour}"></span>h,<span th:text="${project.rate}"></span>%)
    </h2>
    <div th:each="item: ${project.redmineIssueList}">
        <div><span th:text="${item.name}"></span>   耗时<span th:text="${item.hour}"></span>h</div>
    </div>
</div>
</body>
</html>